{% extends "base_logout.html" %}
{% block title %}RentCycle - Payment{% endblock %}

{% block content %}
<body>

<link rel="stylesheet" href="{{url_for('static', filename='css/payment.css')}}">

<div class="container2">

    <h2>We accept:</h2>
    <div class="card">
        <img src="{{url_for('static', filename='images/cards.png')}}" alt="">
    </div>

    <div>
    <!--if no reward was chosen-->
        {% if count == 0 %}
        <p>Price of rental: ${{ price }}<br>Bicycle Rented: {{ bicycle }}<br>Date of Rental: {{ date }}</p>
    <!--if a reward was chosen-->
        {% elif count == 1 %}
        <p>Price of rental: ${{ price }}, Discount: {{ discount * 100 }}% <br> Total Price After Discount: ${{ price - (price * discount) }}<br>Bicycle Rented: {{ bicycle }} <br>Date of Rental: {{ date }}</p>
        {% endif %}
    </div>

    <form action="/rentalConfirm" method="get">
        <div class="inputBox">
            <span>card number</span>
            <input type="text" maxlength="16" class="card-number-input" required>
        </div>
        <div class="inputBox">
            <span>card holder</span>
            <input type="text" maxlength="16" class="card-holder-input" required>
        </div>
        <div class="flexbox">
            <div class="inputBox">
                <span>expiration mm</span>
                <select name="" class="month-input" required>
                    <option value="month" selected disabled>month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="inputBox">
                <span>expiration yy</span>
                <select name="" class="year-input" required>
                    <option value="year" selected disabled>year</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                </select>
            </div>
            <div class="inputBox">
                <span>cvv</span>
                <input type="text" maxlength="4" class="cvv-input" required>
            </div>
        </div>
        <input type="submit" value="SUBMIT" class="submit-btn">
    </form>
</div>

</body>
{% endblock %}
